.info {
	padding-bottom: 75px;
	@media (max-width: 767px) {
		padding-bottom: 35px;
	}

	// .info__container

	&__container {
	}

	// .info__row

	&__row {
		display: flex;
		margin: 0 -22px;
		flex-wrap: wrap;
		@media (max-width: 767px) {
			display: block;
		}
	}

	// .info__column

	&__column {
		flex: 0 1 50%;
		padding: 0 22px;
		margin-bottom: 55px;
		&:last-child {
			flex: 1 1 100%;
			margin: 0;
		}
		@media (max-width: 767px) {
			margin-bottom: 30px;
		}
	}

	// .info__block

	&__block {
	}

	// .info__title

	&__title {
	}

	// .info__content

	&__content {
	}

	// .info__item

	&__item {
		margin-bottom: 30px;
		@media (max-width: 767px) {
			margin-bottom: 25px;
		}
	}

	// .info__date

	&__date {
		margin-bottom: 5px;
		color: var(--color-gold);
		font-size: 12px;
	}

	// .info__label

	&__label {
		display: inline-block;
		margin-bottom: 3px;
		font-size: 15px;
		font-weight: 700;
		color: var(--color-gray);
		text-decoration: underline;
		line-height: calc(21 / 15);
		cursor: pointer;
	}

	// .info__text

	&__text {
		color: var(--color-gray);
		font-size: 15px;
		line-height: calc(21 / 15);
	}

	// .info__subscribe

	&__subscribe {
	}
}
.title-info {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	font-family: 'PFDin';
	font-weight: 500;
	font-size: 35px;
	letter-spacing: 3.5px;
	text-transform: uppercase;
	@media (max-width: 767px) {
		margin-bottom: 15px;
	}
	span {
		&:first-child {
			margin-right: 22px;
			img {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
.subscribe {
	// .subscribe__title

	&__title {
	}

	// .subscribe__body

	&__body {
		display: flex;
		margin: 0 -22px;
		@media (max-width: 767px) {
			display: block;
		}
	}

	// .subscribe__column

	&__column {
		flex: 0 1 50%;
		padding: 0 22px;
	}

	// .subscribe__text

	&__text {
		// Style for "Для получе"
		color: var(--color-gray);
		font-size: 15px;
		line-height: calc(21 / 15);
		@media (max-width: 767px) {
			margin-bottom: 25px;
		}
	}

	// .subscribe__form

	&__form {
		display: flex;
	}
}
.form-subscribe {
	display: flex;
	align-items: center;
	height: 50px;
	border: 3px solid var(--color-gold);
	background-color: var(--color-white);
	// .form-subscribe__input

	&__input {
		flex: 1 1 auto;
	}

	// .form-subscribe__btn

	&__btn {
		position: relative;
		flex: 0 0 95px;
		background-color: var(--color-white);
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 1px;
			height: 32px;
			background-color: var(--color-gold);
			transform: translate(0, -50%);
		}
		span {
			background: url('../img/icons/ok-btn.png') right no-repeat;
			padding-right: 32px;
			font-family: 'PFDin';
			font-size: 21px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 2.12px;
			color: var(--color-main);
		}
	}
}
.input {
}
